<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<typeAliases>
		<typeAlias type="com.bob.proj.model.dto.BobDto" alias="BobDto"/>
		<typeAlias type="com.bob.proj.model.dto.BobManagerDto" alias="BobManagerDto" />
		<typeAlias type="com.bob.proj.model.dto.ChatDto" alias="ChatDto" />
		<typeAlias type="com.bob.proj.model.dto.ChatRoomDto" alias="ChatRoomDto" />
		<typeAlias type="com.bob.proj.model.dto.CompanyDto" alias="CompanyDto" />
		<typeAlias type="com.bob.proj.model.dto.NoticeDto" alias="NoticeDto" />
		<typeAlias type="com.bob.proj.model.dto.ScommentDto" alias="ScommentDto" />
		<typeAlias type="com.bob.proj.model.dto.SuggestDto" alias="SuggestDto" />
		<typeAlias type="com.bob.proj.model.dto.UserBoardDto" alias="UserBoardDto" />
		<typeAlias type="com.bob.proj.model.dto.VoteDto" alias="VoteDto" />
		<typeAlias type="com.bob.proj.model.dto.FoodApiDto" alias="FoodApiDto" />
		<typeAlias type="com.bob.proj.model.dto.ChatUserDto" alias="ChatUserDto" />
	</typeAliases>
	
	<mappers>
		<mapper resource="/sqls/mapper.xml"/>
		<mapper resource="/sqls/bobmanager.xml"/>
	</mappers>

</configuration>
