#bobmanager_button {
  display: block;
  height: 50px;
  width: 160px;
  background-color: #F28169;
  color: #fff;
  font-size: 0.75em;
  border-radius: 50px;
  margin: 20px auto;
  border: none;
}

#bobmanager_button:hover {
  background-color: #8AC4E3;
}

#bobmanager_button:focus {
  outline: 0;
}