#app_body
{
	width: auto;
    height: 100%;
    margin: 0;
    user-select: none;
    -webkit-tap-highlight-color:transparent;
    background-color: #E91E63;
    position: relative;
}

#app
{
    position: absolute;
    top: 50%;
    right:0;
    left: 0;
    width: 180px;
    height: 20px;
    margin: 0 auto;
    transform: translateY(-50%);
    overflow: hidden;
    z-index:1;
}

.button
{
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 20px;
    background-color: rgb(0,0,0);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease width;
}

.button:last-child
{
    margin-right: 0;
}

.button.active
{
    width: 60px;
    cursor: auto;
}